<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%=title%></title>
    <%- include("partials/head") %>
  </head>
  <body>
    <%- include("partials/navBar") %>
    <%- include("partials/main") %>


    <!-- <div style="display: flex; justify-content: center">
      <a href="/user" class="btn btn-outline-success mt-4"
        ><i class="bx bxs-user bx-lg"></i
      ></a>
    </div> -->

    <%- include("partials/footer") %>
  </body>
</html>
